.backdoor {
     width: 100px;
     height: 35px;
     border-radius: 10px;
     border: none;
     margin: 20px 40px;
     background-color: #84D2F6;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.backdoor img {
     width: 50px;
}