@import '/src/app/scss/abstract/breakpoints_desktop';

.backdoor {
     width: 100px;
     height: 35px;
     border-radius: 10px;
     border: none;
     margin: 20px 5%;
     background-color: #84D2F6;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;

     @include breakpoint(small-up) {
          width: 5rem;
          margin: 2.5rem 2.5rem 0.625rem 2.5rem;
     }

     @include breakpoint(hd-up) {
          width: 5rem;
          margin: 2.5rem 2.5rem 0.625rem 3.125rem;
     }

     @include breakpoint(hd-up) {
          width: 5rem;
          margin: 2.5rem 2.5rem 0.625rem 3.450rem;
     }

     @include breakpoint(big-up) {
          width: 8rem;
          margin: 2.5rem 2.5rem 0.625rem 3.450rem;
     }

     @include breakpoint(very-big-up) {
          width: 8rem;
          margin: 2.5rem 2.5rem 0.625rem 3.900rem;
     }

     @include breakpoint(full-hd-up) {
          width: 8rem;
          margin: 2.5rem 2.5rem 0.625rem 4.7rem;
     }
}

.backdoor img {
     width: 50px;
}