<section class="main-sections">
    <section class="menu">
        <menu></menu>
    </section>
    <section class="content">

        <div class="search">
            <app-search-student label="Pesquisar aluno..." destination="view"></app-search-student>
        </div>

        <div class="cards">
            <card icon="register-icon.png" text="Matricular aluno" backgroundColor="#84D2F6" router="/students/register"></card>
            <card icon="edit-icon.png" text="Editar aluno" backgroundColor="#84D2F6" router="/students/update"></card>
            <card icon="disable-icon.png" text="Desabilitar aluno" backgroundColor="#84D2F6" router="/students/disabled"></card>
            <card icon="list-icon.png" text="Listar alunos" backgroundColor="#84D2F6" router="/students/list"></card>
            <card icon="pending-icon.png" text="Pendêntes" backgroundColor="#84D2F6" router="/students/list/pending"></card>
        </div>

    </section>
</section>

