$primary-color: #386FA4;
$secundary-color: #91E5F6;
$third-color: #133C55;
$text-primary-color: #133C55;
$border-input-color: #ccc;

$button-access-color: #84D2F6;
$active-button: #69bfe7;

$bad-credentials: rgba(255, 0, 0, 0.788);

$input-field: rgba(182, 182, 182, 0.61);
