/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap";

body, html {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Arial', sans-serif;
}

.menu {
     width: 17.5%;
}

.content {
     // background-color: red;
     width: 100%;
}

.main-sections {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
}