/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap";

body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     font-family: 'Arial', sans-serif;
}
