/* You can add global styles to this file, and also import other style files */
@import '/src/app/scss/abstract/breakpoints_desktop';
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap";

body, html {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.menu {
     width: 20%;

     @include breakpoint(hd-up) {
          width: 16%;
     }
}

.content {
     width: 80%;

     @include breakpoint(hd-up) {
          width: 85%;
     }
}

.main-sections {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
}