<form id="familyForm">
     <div class="form-section">

         <!-- Personal Information -->
         <div class="form-group">
               <label for="name">Nome completo:</label>
               <input [(ngModel)]="formData.name" name="name" type="text" id="name">

               <label for="cpf">Endereço:</label>
               <input [(ngModel)]="formData.address" name="address" type="text" id="address">

               <label for="rg">Endereço de trabalho:</label>
               <input [(ngModel)]="formData.workAddress" name="workAddress" type="text" id="workAddress">

               <label for="dateOfBirth">Profissão:</label>
               <input [(ngModel)]="formData.occupation" name="occupation" type="text" id="occupation" >

               <label for="cep">Bairro:</label>
               <input [(ngModel)]="formData.neighborhood" name="neighborhood" type="text" id="neighborhood">

               <label for="naturalness">Numero da casa:</label>
               <input [(ngModel)]="formData.numberHouse" name="numberHouse" type="text" id="numberHouse">
               
               <label for="cpf">CPF:</label>
               <input [(ngModel)]="formData.cpf" name="cpf" type="text" id="cpf">

               <label for="rg">RG:</label>
               <input [(ngModel)]="formData.identity" name="identity" type="text" id="identity">
         </div>
         
         <!-- Contact Information -->
         <div class="form-group">
               <label for="email">Cidade:</label>
               <input [(ngModel)]="formData.city" name="city" type="email" id="city">

               <label for="phone">Telefone:</label>
               <input [(ngModel)]="formData.phone" name="phone-" type="tel" id="phone">

               <label for="city">Email:</label>
               <input [(ngModel)]="formData.email" name="email" type="text" id="email">

               <label for="address">Estado:</label>
               <input [(ngModel)]="formData.state" name="state" type="text" id="state">

               <label for="city">Cep:</label>
               <input [(ngModel)]="formData.cep" name="cep" type="text" id="cep" (input)="verifyCepStudent($event)">

               <label for="name">Data de nascimento:</label>
               <input [(ngModel)]="formData.dateOfBirth" name="dateOfBirth" type="date" id="dateOfBirth">

               <!-- Type -->
               <div class="form-group shifts">
                    <label for="type">Tipo:</label>
                    <select [(ngModel)]="formData.type" id="type" name="shifts-student">
                         <option value="FATHER">Pai</option>
                         <option value="MOTHER">Mãe</option>
                    </select>
               </div>
          
               <!-- Actions -->
               <div class="form-actions button">
                    <button class="buttonNext" type="submit" name="next" (click)="sendData()">Próxima etapa</button>
               </div>
          </div>
 
          
     </div>
 </form>


