<section class="main-sections">
    <section class="menu" (click)="handleOutsideClick($event)">
        <menu></menu>
    </section>

    <section class="content">
        <h1 class="title">Dados do responsável financeiro</h1>
        
        <form id="form"  [formGroup]="form">
            <div class="form-section">
                <!-- Personal Information -->
                <div class="form-group">
                    <label for="name">Nome completo:</label>
                    <input formControlName="name" name="name" type="text" id="name">
    
                    <label for="cpf">CPF:</label>
                    <input formControlName="cpf" name="cpf" type="text" id="cpf">
                    
                    <label for="identity">RG:</label>
                    <input formControlName="identity" name="identity" type="text" id="identity">
                    
                    <label for="occupation">Profissão:</label>
                    <input formControlName="occupation" name="occupation" type="text" id="occupation" >

                    <label for="nationality">Nacionalidade:</label>
                    <input formControlName="nationality" name="nationality-student" type="text" id="nationality">
       
                    <label for="dateOfBirth">Data de nascimento:</label>
                    <input formControlName="dateOfBirth" name="dateOfBirth" type="date" id="dateOfBirth">

                    <div class="form-group files">
                        <label for="rg-file-financial-responsible">Cópia do rg:</label>
                        <div class="input-file" [class.file-selected]="rg">
                             <input name="rg-file-financial-responsible" type="file" id="rg-file-financial-responsible" (change)="onRgSelected($event)">
                             <img src="assets/upload-icon.png" class="file-upload-icon">
                        </div>
    
                        <label for="cpf-file-financial-responsible">Cópia do cpf:</label>
                        <div class="input-file" [class.file-selected]="cpf">
                             <input name="cpf-file-financial-responsible" type="file" id="cpf-file-financial-responsible" (change)="onCpfSelected($event)">
                             <img src="assets/upload-icon.png" class="file-upload-icon">
                        </div>
    
                        <label for="proofOfAddress-file-financial-responsible">Cópia do comprovante de residência:</label>
                        <div class="input-file" [class.file-selected]="proofOfAddress">
                             <input name="proofOfAddress-file-financial-responsible" type="file" id="proofOfAddress-file-financial-responsible" (change)="onProofOfAddressSelected($event)">
                             <img src="assets/upload-icon.png" class="file-upload-icon">
                        </div>
                   </div>


                </div>
                
                <!-- Contact Information -->
                <div class="form-group">
                    <label for="cep">Cep:</label>
                    <input formControlName="cep" name="cep" type="text" id="cep" (input)="verifyCepStudent($event)">
                    
                    <label for="address">Endereço:</label>
                    <input formControlName="address" name="address" type="text" id="address">

                    <label for="workAddress">Endereço de trabalho:</label>
                    <input formControlName="workAddress" name="workAddress" type="text" id="workAddress">

                    <label for="neighborhood">Bairro:</label>
                    <input formControlName="neighborhood" name="neighborhood" type="text" id="neighborhood">
    
                    <label for="numberHouse">Numero da casa:</label>
                    <input formControlName="numberHouse" name="numberHouse" type="text" id="numberHouse">

                    <label for="city">Cidade:</label>
                    <input formControlName="city" name="city" type="text" id="city">

                    <label for="state">Estado:</label>
                    <input formControlName="state" name="state" type="text" id="state">

                    <label for="country">País:</label>
                    <input formControlName="country" name="country" type="text" id="country">
    
                    <label for="phone">Telefone:</label>
                    <input formControlName="phone" name="phone-" type="tel" id="phone">
    
                    <label for="email">Email:</label>
                    <input formControlName="email" name="email" type="text" id="email">
    

                    <label for="naturalness">Naturalidade:</label>
                    <input formControlName="naturalness" name="naturalness" type="text" id="naturalness">

                    
                    <!-- Type -->
                    <div class="form-group shifts">
                        <label for="type">Tipo:</label>
                        <select formControlName="type" id="type" name="type">
                            <option value="FATHER">Pai</option>
                            <option value="MOTHER">Mãe</option>
                        </select>
                    </div>
                
                    <!-- Actions -->
                    <div class="form-actions button">
                        <button class="buttonNext" type="submit" name="next" (click)="sendData()">Próxima etapa</button>
                    </div>
                 </div>
            </div>
        </form>
    </section>
</section>
