<form id="studentForm">
     <div class="form-section">

         <!-- Personal Information -->
         <div class="form-group">
             <label for="name">Nome:</label>
             <input name="name-student" type="text" id="name" value="{{ name }}">

             <label for="cpf">CPF:</label>
             <input name="cpf-student" type="text" id="cpf" value="{{ cpf }}">

             <label for="rg">RG:</label>
             <input name="identity-student" type="text" id="identity" value="{{ identity }}">

             <label for="dateOfBirth">Data de Nascimento:</label>
             <input name="dateOfBirth-student" type="text" id="dateOfBirth" value="{{ dateOfBirth }}">

             <label for="cep">CEP:</label>
             <input name="cep-student" type="text" id="cep" value="{{ cep }}">
         </div>

         <!-- Profile Image Upload -->
          <div class="form-group">
               <label for="imageProfile">Profile Image:</label>
               <input name="imageProfile-student" type="file" id="imageProfile">
          </div>

         <!-- Gender -->
         <div class="form-group gender" >
               <label>Sexo:</label>
                    <div class="radio-group">
                         <input name="sex-student" type="radio" id="masculine" value="MASCULINE" [(ngModel)]="sex">
                         <label for="masculine">Masculino</label>
                    </div>
                    <div class="radio-group">
                         <input name="sex-student" type="radio" id="feminine" value="FEMININE" [(ngModel)]="sex">
                         <label for="feminine">Feminino</label>
                    </div>
          </div>

         <!-- State and Country -->
         <div class="form-group gender">
             <label for="state">Estado:</label>
             <input name="state-student" list="options-state" id="state" value="{{ state }}">
             <datalist id="options-state">
                 <option value="State 1"></option>
                 <!-- More states -->
             </datalist>

             <label for="country">País:</label>
             <input name="country-student" list="options-country" id="country" value="{{ country }}">
             <datalist id="options-country">
                 <option value="Country 1"></option>
                 <!-- More countries -->
             </datalist>
         </div>
         
         <!-- Contact Information -->
         <div class="form-group">
             <label for="email">Email:</label>
             <input name="email-student" type="email" id="email" value="{{ email }}">

             <label for="phone">Telefone:</label>
             <input name="phone-student" type="tel" id="phone" value="{{ phone }}">

             <label for="address">Endereço:</label>
             <input name="address-student" type="text" id="address" value="{{ address }}">

             <label for="city">Cidade:</label>
             <input name="city-student" type="text" id="city" value="{{ city }}">

             <label for="neighborhood">Bairro:</label>
             <input  name="neighborhood-student" type="text" id="neighborhood" value="{{ neighborhood }}">

             <label for="nationality">Nacionalidade:</label>
             <input name="nationality-student" type="text" id="nationality" value="{{ nationality }}">

             <label for="naturalness">Naturalidade:</label>
             <input name="naturalness-student" type="text" id="naturalness" value="{{ naturalness }}">
         </div>

         <!-- Responsible Person's Information -->
         <div class="form-group">
             <label for="responsible">Nome do responsável:</label>
             <input name="responsible-student" type="text" id="responsible" value="{{ responsible }}">

             <label for="emailPersonResponsible">Email do responsável:</label>
             <input name="emailPersonResponsible-student" type="email" id="emailPersonResponsible" value="{{ emailPersonResponsible }}">

             <label for="father">Nome do pai:</label>
             <input name="father-student" type="text" id="father" value="{{ father }}">

             <label for="mother">Nome da mãe:</label>
             <input name="mother-student" type="text" id="mother" value="{{ mother }}">
          </div>
         
         <!-- Shifts -->
         <div class="form-group shifts">
             <label for="shifts">Turnos:</label>
             <select id="shifts" name="shifts-student" value="{{ shifts }}">
                 <option value="MATUTINO">Matutino</option>
                 <option value="VESPERTINO">Vespertino</option>
                 <option value="NOTURNO">Noturno</option>
             </select>
         </div>
         
         <!-- Actions -->
         <div class="form-actions button">
             <button type="submit" name="action" value="pendente" (click)="sendForm()">Atualizar cadastro</button>
         </div>
     </div>
 </form>
