@import '/src/app/scss/abstract/breakpoints_desktop';

.card {
    width: 280px;
    height: 150px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    max-width: 100%;
    border-radius: 15px;
    font-family: 'Poppins';
    border: none;
    cursor: pointer;
    flex: 1;

    @include breakpoint(small-up) {
        width: 13.75rem;
        margin-right: 2.188rem;
    }

    @include breakpoint(medium-up) {
        width: 15.625rem;
        margin-right: 1.251rem;
    }

    @include breakpoint(very-big-up) {
        width: 17rem;
        margin-right: 1.251rem;
    }
}

.icon {
    display: flex;
    justify-content: center;
} 

.icon img {
    width: 80px;
    padding-top: 10px;
}

.text {
    text-align: center;
    padding-bottom: 2px;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 10px
}
