<body>

     <div class="login-container">
       <div class="sidebar">
         <img class="company-logo" src="/assets/logo-company-login.png">
        
         <form class="login-form" (ngSubmit)="submitForm()">
           <label for="username">USUÁRIO</label>
           <input type="text" id="username" name="username">
           
           <label for="password">SENHA</label>
           <input type="password" id="password" name="password">
           
           <button type="submit">Acessar Plataforma</button>
           <a href="#" class="recover">Esqueci minha senha</a>
         </form>

       </div>
       
       <div class="content">
         <h2>Escola PRO</h2>
       </div>
     </div>
     
     </body>