<aside class="side-menu">
     <nav>
          <ul>
               <li class="active geral"><img class="icon-menu" src="/assets/geral-menu.png" alt="ícone ponteiro"><a href="/dashboard">Geral</a></li>
               <li><img class="icon-menu" src="/assets/alunos-menu.png" alt="ícone alunos"><a href="/students">Alunos</a></li>
               <li><img class="icon-menu" src="/assets/professores-menu.png" alt="ícone professores"><a href="#">Professores</a></li>
               <li><img class="icon-menu" src="/assets/funcionarios-menu.png" alt="ícone funcionarios"><a href="#">Funcionários</a></li>
               <li><img class="icon-menu" src="/assets/cursos-menu.png" alt="ícone livro"><a href="#">Cursos</a></li>
               <li><img class="icon-menu" src="/assets/relatorios-menu.png" alt="ícone relatorio"><a href="#">Relatórios</a></li>
               <li><img class="icon-menu" src="/assets/financeiro-menu.png" alt="ícone financeiro"><a href="#">Financeiro</a></li>
               <li><img class="icon-menu" src="/assets/usuarios-menu.png" alt="ícone usuario"><a href="#">Usuários</a></li>
               <li class="sair"><img class="icon-menu" src="/assets/sair-menu.png" alt="ícone sair"><a href="#">Sair</a></li>
          </ul>
     </nav>
</aside>



