@import '/src/app/scss/abstract/breakpoints_desktop';

body {
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
 }
 
 #familyForm {
     width: 90%;
     margin: 0 auto;
     background-color: #fff;
     padding: 20px;
     font-family: 'Poppins', sans-serif;
 }
 
 .form-section {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 20px;
 }
 
 .form-group {
     display: flex;
     flex-direction: column;
     margin-bottom: 15px;
 }
 
 .form-group label {
     margin-bottom: 5px;
 }
 
 .form-group input[type="text"],
 .form-group input[type="email"],
 .form-group input[type="tel"],
 .form-group select {
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }
 
 .form-actions {
     text-align: right;
 }
 
 .form-actions button {
     padding: 20px 30px;
     margin-left: 15px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     background-color: #5cb85c;
     color: rgb(255, 255, 255);
     font-size: 1.1em;

    @include breakpoint(small-up) {
        padding: 0.625rem 0.625rem;
        margin-top: 1.875rem;
    }

    @include breakpoint(hd-up) {
        padding: 1rem 2.188rem;
        margin-top: 1.875rem;
    }

    @include breakpoint(medium-up) {
        padding: 1.3rem 3rem;
        margin-top: 1.875rem;
    }

    @include breakpoint(very-big-up) {
        padding: 1.3rem 3.6rem;
        margin-top: 1.875rem;
    }

    @include breakpoint(full-hd-up) {
        padding: 1.3rem 6rem;
        margin-top: 1.875rem;
        margin-left: 2rem;
    }
 }

 .button button:active {
    background-color: #7cc07c;
 }

 .gender {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 6px;
}

.gender label {
    margin-bottom: 1px;
}

.gender input {
    margin-bottom: 2px;
}

.button button:active {
   background-color: #246b24;
}

