 <form id="studentForm">
     <div class="form-section">
         

         <!-- Personal Information -->
         <div class="form-group">
             <label for="name">Nome:</label>
             <input [(ngModel)]="formData.name" name="name-student" type="text" id="name">

             <label for="cpf">CPF:</label>
             <input [(ngModel)]="formData.cpf" name="cpf-student" type="text" id="cpf">

             <label for="rg">RG:</label>
             <input [(ngModel)]="formData.identity" name="identity-student" type="text" id="identity">

             <label for="dateOfBirth">Data de Nascimento:</label>
             <input [(ngModel)]="formData.dateOfBirth" name="dateOfBirth-student" type="date" id="dateOfBirth" >

             <label for="phone">Telefone:</label>
             <input [(ngModel)]="formData.phone" name="phone-student" type="tel" id="phone">

             <label for="email">Email:</label>
             <input [(ngModel)]="formData.email" name="email-student" type="email" id="email">
         </div>

         <!-- Profile Image Upload -->
          <div class="form-group">
               <label for="imageProfile">Profile Image:</label>
               <input name="imageProfile-student" type="file" id="imageProfile" >
          </div>

         <!-- Gender -->
         <div class="form-group gender">
               <label>Sexo:</label>
                    <div class="radio-group">
                         <input [(ngModel)]="formData.sex" name="sex-student" type="radio" id="masculine" value="MASCULINE">
                         <label for="masculine">Masculino</label>
                    </div>
                    <div class="radio-group">
                         <input [(ngModel)]="formData.sex" name="sex-student" type="radio" id="feminine" value="FEMININE">
                         <label for="feminine">Feminino</label>
                    </div>
          </div>

         <!-- State and Country -->
         <div class="form-group gender">
             <label for="state">Estado:</label>
             <input [(ngModel)]="formData.state" name="state-student" list="options-state" id="state">
             <datalist id="options-state">
                 <option value="State 1"></option>
                 <!-- More states -->
             </datalist>

             <label for="country">País:</label>
             <input [(ngModel)]="formData.country" name="country-student" list="options-country" id="country">
             <datalist id="options-country">
                 <option value="Country 1"></option>
                 <!-- More countries -->
             </datalist>
         </div>
         
         <!-- Contact Information -->
         <div class="form-group">

             <label for="cep">Cep:</label>
             <input [(ngModel)]="formData.cep" name="cep-student" type="text" id="cep" (input)="verifyCepStudent($event)">

             <label for="address">Endereço:</label>
             <input [(ngModel)]="formData.address" name="address-student" type="text" id="address">

             <label for="city">Cidade:</label>
             <input [(ngModel)]="formData.city" name="city-student" type="text" id="city">

             <label for="neighborhood">Bairro:</label>
             <input [(ngModel)]="formData.neighborhood" name="neighborhood-student" type="text" id="neighborhood">

             <label for="naturalness">Numero da casa:</label>
             <input [(ngModel)]="formData.numberHouse" name="numberHouse" type="text" id="numberHouse">

             <label for="nationality">Nacionalidade:</label>
             <input [(ngModel)]="formData.nationality" name="nationality-student" type="text" id="nationality">
         </div>

         <!-- Responsible Person's Information -->
         <div class="form-group">
            <label for="responsible">Nome do responsável:</label>
            <input [(ngModel)]="formData.responsible" name="responsible-student" type="text" id="responsible">

            <label for="emailPersonResponsible">Email do responsável:</label>
            <input [(ngModel)]="formData.emailPersonResponsible" name="emailPersonResponsible-student" type="email" id="emailPersonResponsible">

            <label for="father">Nome do pai:</label>
            <input [(ngModel)]="formData.father" name="father-student" type="text" id="father">

            <label for="mother">Nome da mãe:</label>
            <input [(ngModel)]="formData.mother" name="mother-student" type="text" id="mother">

            <label for="naturalness">Naturalidade:</label>
            <input [(ngModel)]="formData.naturalness" name="naturalness-student" type="text" id="naturalness">

            <div class="form-group gender">
                <label>O aluno é seu próprio responsável financeiro?</label>
                    <div class="radio-group">
                        <input [(ngModel)]="formData.financialResponsible" name="financialResponsible" type="radio" id="financialResponsible" value="TRUE">
                        <label for="TRUE">Sim</label>
                    </div>
                    <div class="radio-group">
                        <input [(ngModel)]="formData.financialResponsible" name="financialResponsible" type="radio" id="financialResponsible" value="FALSE">
                        <label for="FALSE">Não</label>
                    </div>
           </div>

          </div>
         
         <!-- Shifts -->
         <div class="form-group shifts">
             <label for="shifts">Turnos:</label>
             <select [(ngModel)]="formData.shifts" id="shifts" name="shifts-student">
                 <option value="MATUTINO">Matutino</option>
                 <option value="VESPERTINO">Vespertino</option>
                 <option value="NOTURNO">Noturno</option>
             </select>
         </div>
         
         <!-- Actions -->
         <div class="form-actions button">
             <button type="submit" name="action" value="pendente" (click)="sendData('pending')">Deixar pendente</button>
             <button type="submit" name="action" value="finalizar" (click)="sendData('register')">Próxima etapa</button>
         </div>
     </div>
 </form>
