<form>
     <fieldset class="block-1">

          <fieldset class="image-profile">
               <input type="file" id="imageProfile" name="imageProfile">
          </fieldset>

          <fieldset>
               <label>Nome: </label>
               <input type="text" id="name" name="name">

               <fieldset>
                    <label>Cpf: </label>
                    <input type="text" id="cpf" name="cpf">
                    <label>Rg: </label>
                    <input type="text" id="rg" name="rg">
               </fieldset>

               <fieldset>
                    <label>Data de nascimento: </label>
                    <input type="text" id="dateOfBirth" name="dateOfBirth">
                    <label>Cep: </label>
                    <input type="text" id="cep" name="cep">
               </fieldset>
          </fieldset>

          <fieldset class="sex">
               <fieldset>
                    <label>Sexo:</label>
                    <select id="select" name="select">
                    <option value="MASCULINE">Masculino</option>
                    <option value="FEMININE">Feminino</option>
                    </select>
               </fieldset>

               <fieldset class="state-country">
                    <fieldset class="state">
                         <label>Estado:</label>
                         <input list="options-state">
                         <datalist id="options-state">
                              <option value="test">test</option>
                         </datalist>
                    </fieldset>
                    <fieldset class="country">
                         <label>País:</label>
                         <input list="options-country">
                         <datalist id="options-country">
                              <option value="test">test</option>
                         </datalist>
                    </fieldset>
               </fieldset>
          </fieldset>

          <fieldset class="block-2">
               <fieldset>
                    <label>Email:</label>
                    <input type="email" id="email" name="email">
                    <label>Telefone:</label>
                    <input type="tel" id="phone" name="phone">
               </fieldset>
               <fieldset>
                    <label>Endereço:</label>
                    <input type="text" id="address" name="address">
                    <label>Cidade:</label>
                    <input type="text" id="city" name="city">
                    <label>Bairro:</label>
                    <input type="text" id="neighborhood" name="neighborhood">
               </fieldset>
               <fieldset>
                    <label>Nacionalidade:</label>
                    <input type="text" id="nationality" name="nationality">
                    <label>Naturalidade:</label>
                    <input type="text" id="naturalness" name="naturalness">
               </fieldset>
          </fieldset>

          <fieldset class="block-3">
               <fieldset>
                    <label>Nome do responsável:</label>
                    <input type="text" id="responsible" name="responsible">
                    <label>Email do responsável:</label>
                    <input type="email" id="emailPersonResponsible" name="emailPersonResponsible">
               </fieldset>
               <fieldset>
                    <fieldset class="parents-name">
                         <label>Nome do pai:</label>
                         <input type="text" id="father" name="responsible">
                         <label>Email do mãe:</label>
                         <input type="text" id="mother" name="emailPersonResponsible">
                    </fieldset>
                    <fieldset class="shifts">
                         <label>Turnos:</label>
                         <select id="shifts" name="shifts">
                              <option value="MATUTINO">Matutino</option>
                              <option value="VESPERTINO">Vespertino</option>
                              <option value="NOTURNO">Noturno</option>
                         </select>
                    </fieldset>
                    <fieldset class="actions">
                         <button type="submit">Deixar pendênte</button>
                         <button type="submit">Finalizar cadastro</button>
                    </fieldset>
               </fieldset>
          </fieldset>

     </fieldset>
</form>

