body {
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
 }
 
 #studentForm {
     width: 80%;
     margin: 0 auto;
     background-color: #fff;
     padding: 20px;
     font-family: 'Poppins', sans-serif;
 }
 
 .form-section {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 20px;
 }
 
 .form-group {
     display: flex;
     flex-direction: column;
     margin-bottom: 15px;
 }
 
 .form-group label {
     margin-bottom: 5px;
 }
 
 .form-group input[type="text"],
 .form-group input[type="email"],
 .form-group input[type="tel"],
 .form-group select {
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }
 
 .form-actions {
     text-align: right;
 }
 
 .form-actions button {
     padding: 10px 20px;
     margin-left: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     background-color: #5cb85c;
     color: white;
 }
 
 .form-actions button[name="action"][value="pendente"] {
     background-color: #f0ad4e;
 }

 .gender {
     border: 1px solid #ccc;
     border-radius: 5px;
     padding: 10px;
 }

 .gender label {
     margin-bottom: 1px;
 }

 .gender input {
     margin-bottom: 4px;
 }
