.login-container {
     display: flex;
     height: 100vh;
     overflow: hidden;
}

.sidebar {
     background-color: #386FA4;
     color: #fff;
     padding: 30px;
     width: 500px;
     font-family: 'roboto';
     font-size: 20px;
}

.login-form {
     display: flex;
     flex-direction: column;
}

.login-form label {
     margin-top: 20px;
     text-align: center;
}

.login-form input {
     padding: 13px;
     border-radius: 10px;
     border: none;
     width: 90%;
     margin: 5px auto 10px auto;
     font-size: 20px;
     text-align: center;
     font-family: 'Roboto';
}

.login-form button {
     padding: 10px;
     margin: 30px auto 10px auto;
     background-color: #84D2F6;
     color: #133C55;
     border-radius: 10px;
     padding: 15px;
     border: none;
     cursor: pointer;
     font-size: 25px;
     width: 96%;
}

.login-form button:hover {
     background-color: #3498db;
}

.recover {
     text-align: center;
     font-size: 15px;
}

.login-form a {
     color: #fff;
     text-decoration: none;
     display: block;
     margin-top: 10px;
}
   
.content {
     flex-grow: 1;
     background-color: #91E5F6;
     padding: 10px 30px 30px 30px;
     font-family: 'Poppins';
}

.content h2 {
     color: #133C55;
     width: 300px;
     text-align: center;
     margin: auto;
     font-size: 50px;
     border-bottom: 7px solid #2B567F;
}

.company-logo {
     width: 100%;
     border-radius: 15px;
     margin: 60px 0 40px 0;
}

.bad-credentials {
     text-align: center;
     margin: 5px auto;
     background-color: rgba(255, 0, 0, 0.788);
     padding: 5px;
     width: 90%;
     border-radius: 10px;
}

// .hidden {
//      opacity: 0;
//      transition: opacity ease-in-out;
// }

// .visible {
//      opacity: 1;
// }

.images-up {
     margin-top: 50px;
     display: flex;
     justify-content: space-evenly;
}

.images-down {
     margin-top: 50px;
     display: flex;
     justify-content: space-evenly;
     margin-bottom: 100px;
}

.image1 {
     max-width: 100%;
     height: auto;
     width: 40%;
     padding: 0px;
}

.text {
     font-size: 80px;
     padding: 0%;
     color: #133C55;
     // background-color: #133C55;
}

.image2 {
     width: 30%;
}

@media (width <= 1600px) {
     .sidebar {
          width: 400px;
     }
     .images-up {
          margin: 30px auto 0 auto;
          display: flex;
          justify-content: space-evenly;
          // background-color: #133C55;
          width: 90%;
     }
     
     .images-down {
          margin: 0px auto;
          display: flex;
          justify-content: space-evenly;
          width: 90%;
     }
     
     .image1 {
          max-width: 100%;
          height: auto;
          width: 40%;
          padding: 0px;
          // background-color: #133C55;
     }
     
     .text {
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 40px;
          padding: 0%;
          margin-bottom: 50px;
          color: #133C55;
          // background-color: #133C55;
     }
     
     .image2 {
          width: 35%;
     }
}

@media (width >= 1920px) {
     .sidebar {
          width: 450px;
     }
     .images-up {
          margin: 30px auto 0 auto;
          display: flex;
          justify-content: space-evenly;
          // background-color: #133C55;
          width: 90%;
     }
     
     .images-down {
          margin: 0px auto;
          display: flex;
          justify-content: space-evenly;
          width: 90%;
     }
     
     .image1 {
          max-width: 100%;
          height: auto;
          width: 40%;
          padding: 0px;
          // background-color: #133C55;
     }
     
     .text {
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 50px;
          padding: 0%;
          margin-bottom: 50px;
          color: #133C55;
          // background-color: #133C55;
     }
     
     .image2 {
          width: 35%;
     }
}

   