@import '/src/app/scss/abstract/breakpoints_desktop';

.login-container {
     display: flex;
     flex-direction: row;
     height: 100vh;
     width: 100%;
     overflow: hidden;
}

.sidebar {
     background-color: #386FA4;
     color: #fff;
     padding: 30px;
     width: 20%;
     font-family: 'roboto';
     font-size: 20px;

     @include breakpoint(small-up) {
          width: 25%;
     }
}

.login-form {
     display: flex;
     flex-direction: column;
}

.login-form label {
     margin-top: 20px;
     text-align: center;
}

.login-form input {
     padding: 13px;
     border-radius: 10px;
     border: none;
     width: 90%;
     margin: 5px auto 10px auto;
     font-size: 20px;
     text-align: center;
     font-family: 'Roboto';
}

.login-form button {
     padding: 10px;
     margin: 30px auto 10px auto;
     background-color: #84D2F6;
     color: #133C55;
     border-radius: 10px;
     padding: 15px;
     border: none;
     cursor: pointer;
     font-size: 25px;
     width: 96%;
}

.login-form button:hover {
     background-color: #3498db;
}

.recover {
     text-align: center;
     font-size: 15px;
}

.login-form a {
     color: #fff;
     text-decoration: none;
     display: block;
     margin-top: 10px;
}
   
.content {
     width: 75%;
     background-color: #91E5F6;
     padding: 10px 30px 30px 30px;
     font-family: 'Poppins';

     @include breakpoint(hd-up) {
          padding: 0.625rem 3.125rem 1.875rem 3.125rem;
     }
}

.content-page {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 35px
}

.content h2 {
     color: #133C55;
     width: 300px;
     text-align: center;
     margin: auto;
     font-size: 50px;
     border-bottom: 7px solid #2B567F;
}

.content-page p {
     @include breakpoint(small-up) {
          width: 40%;
          font-size: 1.875rem;
     }

     @include breakpoint(hd-up) {
          width: 40%;
          font-size: 2.188rem;
     }
}

.content-page img {
     width: 12.5rem;

     @include breakpoint(small-up) {
          width: 40%;
     }
}

.company-logo {
     width: 100%;
     border-radius: 15px;
     margin: 60px 0 40px 0;
}

.bad-credentials {
     text-align: center;
     margin: 5px auto;
     background-color: rgba(255, 0, 0, 0.788);
     padding: 5px;
     width: 90%;
     border-radius: 10px;
}

// .image2 {
//      @include breakpoint(small-up) {
//           width: 30%;
//           // font-size: 30px;
//           // background-color: #3498db;
//      }
// }

.text2 {
     @include breakpoint(small-up) {
          // padding: 30px;
     }

     @include breakpoint(hd-up) {
          margin-top: 0;
     }

     @include breakpoint(big-up) {
          margin-top: 1.875rem;
          margin-bottom: 0;
     }
}

// .image2 {
//      width: 30%;
// }

// @media (width <= 1600px) {
//      .sidebar {
//           width: 400px;
//      }
//      .images-up {
//           margin: 30px auto 0 auto;
//           display: flex;
//           justify-content: space-evenly;
//           // background-color: #133C55;
//           width: 90%;
//      }
     
//      .images-down {
//           margin: 0px auto;
//           display: flex;
//           justify-content: space-evenly;
//           width: 90%;
//      }
     
//      .image1 {
//           max-width: 100%;
//           height: auto;
//           width: 40%;
//           padding: 0px;
//           // background-color: #133C55;
//      }
     
//      .text {
//           font-family: 'Poppins';
//           font-weight: 600;
//           font-size: 40px;
//           padding: 0%;
//           margin-bottom: 50px;
//           color: #133C55;
//           // background-color: #133C55;
//      }
     
//      .image2 {
//           width: 35%;
//      }
// }

// @media (width >= 1920px) {
//      .sidebar {
//           width: 450px;
//      }
//      .images-up {
//           margin: 30px auto 0 auto;
//           display: flex;
//           justify-content: space-evenly;
//           // background-color: #133C55;
//           width: 90%;
//      }
     
//      .images-down {
//           margin: 0px auto;
//           display: flex;
//           justify-content: space-evenly;
//           width: 90%;
//      }
     
//      .image1 {
//           max-width: 100%;
//           height: auto;
//           width: 40%;
//           padding: 0px;
//           // background-color: #133C55;
//      }
     
//      .text {
//           font-family: 'Poppins';
//           font-weight: 600;
//           font-size: 50px;
//           padding: 0%;
//           margin-bottom: 50px;
//           color: #133C55;
//           // background-color: #133C55;
//      }
     
//      .image2 {
//           width: 35%;
//      }
// }

   