@import '/src/scss/abstract/breakpoints_desktop';
@import '/src/scss/color-variables.scss';

.login-container {
     display: flex;
     flex-direction: row;
     height: 100vh;
     width: 100%;
     overflow: hidden;
}

.sidebar {
     background-color: $primary-color;
     color: #fff;
     padding: 30px;
     width: 20%;
     font-family: 'roboto';
     font-size: 20px;
     

     @include breakpoint(small-up) {
          width: 25%;
     }
}

.login-form {
     display: flex;
     flex-direction: column;
}

.login-form label {
     margin-top: 20px;
     text-align: center;
}

.login-form input {
     padding: 13px;
     border-radius: 10px;
     border: none;
     width: 90%;
     margin: 5px auto 10px auto;
     font-size: 20px;
     text-align: center;
     font-family: 'Roboto';
}

.login-form button {
     padding: 10px;
     margin: 30px auto 10px auto;
     background-color: #84D2F6;
     color: #133C55;
     border-radius: 10px;
     padding: 15px;
     border: none;
     cursor: pointer;
     font-size: 25px;
     width: 96%;
}

.login-form button:hover {
     background-color: $button-access-color;
}

.recover {
     text-align: center;
     font-size: 15px;
}

.login-form a {
     color: #fff;
     text-decoration: none;
     display: block;
     margin-top: 10px;
}
   
.content {
     width: 75%;
     background-color: $secundary-color;
     padding: 10px 30px 30px 30px;
     font-family: 'Poppins';

     @include breakpoint(hd-up) {
          padding: 0.625rem 3.125rem 1.875rem 3.125rem;
     }
}

.content-page {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 35px
}

.content h2 {
     color: #133C55;
     width: 300px;
     text-align: center;
     margin: auto;
     font-size: 50px;
     border-bottom: 7px solid $text-primary-color;
}

.content-page p {
     @include breakpoint(small-up) {
          width: 40%;
          font-size: 1.875rem;
     }

     @include breakpoint(hd-up) {
          width: 40%;
          font-size: 2.188rem;
     }
}

.content-page img {
     width: 12.5rem;

     @include breakpoint(small-up) {
          width: 40%;
     }
}

.company-logo {
     width: 100%;
     border-radius: 15px;
     margin: 60px 0 40px 0;
}

.bad-credentials {
     text-align: center;
     margin: 5px auto;
     background-color: $bad-credentials;
     padding: 5px;
     width: 90%;
     border-radius: 10px;
}

.text2 {
     @include breakpoint(small-up) {
          // padding: 30px;
     }

     @include breakpoint(hd-up) {
          margin-top: 0;
     }

     @include breakpoint(big-up) {
          margin-top: 1.875rem;
          margin-bottom: 0;
     }
}


   